/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-cjd-blocks-interactive-map {
// }

.interface-complementary-area {
	h2,
	h3 {
		margin-bottom: 0;
	}
}
.components-panel__body-toggle {
	.components-base-control:last-child {
		margin-bottom: 0;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}
