/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cjd-blocks-interactive-map {
	--cjd-blocks--interactive-map--map-color: #D0D0D0;
	--cjd-blocks--interactive-map--highlight-color: rgb(113, 199, 142);
	--cjd-blocks--interactive-map--stroke-color: #FFFFFF;

	position: relative;

	.division {
		fill: var(--cjd-blocks--interactive-map--map-color);
		stroke: var(--cjd-blocks--interactive-map--stroke-color);
		stroke-width: 1px;
	} /* default color for all states not specified below */

	.borders {
		stroke: var(--cjd-blocks--interactive-map--stroke-color);
		stroke-width: 1px;
	} /* color and width of borders between states */

	.highlight {
		fill: var(--cjd-blocks--interactive-map--highlight-color);
	}

	.dccircle {
		display: none;
	} /* set display to yes to show the circle for the District of Columbia, or none to hide it */

	.separators {
		stroke: #B0B0B0;
		stroke-width: 2px;
	} /* color and width of lines around Alaska and Hawaii */

	.info-window {
		background-color: rgb(218, 218, 218, .9);
		border-radius: 6px;
		padding: 1em;
		width: max-content;
		pointer-events: none;
		position: absolute;
	}

	foreignObject {
		width: 100px;
		height: 50px;
		overflow: auto;
	}

	.info-window-title {
		&:only-child {
			margin: 0;
		}
	}

	.info-window-desc {
		padding-bottom: .25em;
		padding-left: 1em;
		border-left: 2px solid;

		& :last-child {
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			margin-bottom: 0;
		}
	}

	.info-window-subtitle {
		font-weight: bold;
		margin-bottom: .25em;
	}

}
