/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cjd-blocks-interactive-map {
	--cjd-blocks--interactive-map--map-color: #D0D0D0;
	--cjd-blocks--interactive-map--highlight-color: rgb(113, 199, 142);
	--cjd-blocks--interactive-map--stroke-color: #FFFFFF;

	.divisions {
		fill: var(--cjd-blocks--interactive-map--map-color);
	} /* default color for all states not specified below */

	.borders {
		stroke: var(--cjd-blocks--interactive-map--stroke-color);
		stroke-width: 1px;
	} /* color and width of borders between states */

	.highlight {
		fill: var(--cjd-blocks--interactive-map--highlight-color);
	}

	.dccircle {
		display: none;
	} /* set display to yes to show the circle for the District of Columbia, or none to hide it */

	.separator1 {
		stroke: #B0B0B0;
		stroke-width: 2px;
	} /* color and width of lines around Alaska and Hawaii */
}
